{% extends "layout.html" %}
{% block content %}

<div class="about-section">
  <h1>About Us Page</h1>
  <p>This is the Team that worked on this website for our class Project.</p>
  <p>This Ebay clone was done for our CPSC-362 Class to demo a Software pipeline.</p>
</div>

<h2 style="text-align:left">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="AboutImages/Josh2.jpg" alt="Josh" style="width:100%">
      <div class="container">
        <h2>Joshua Konechy</h2>
        <p class="title">Front End Dev</p>
        <p>Mostly handled the HTML and CSS for displaying the websites visable features.</p>
        <button type="button" class="btn btn-success">Contact</button>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Ryan" style="width:100%">
      <div class="container">
        <h2>Ryan Lamb</h2>
        <p class="title">Server Specialist</p>
        <p>Mostly handled the creating and updating the Server for hosting the website.</p>
        <button type="button" class="btn btn-success">Contact</button>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="Kevin" style="width:100%">
      <div class="container">
        <h2>Kevin La</h2>
        <p class="title">Back End Dev</p>
        <p>Mostly handled the Database in SQLalchemy for the website.</p>
        <button type="button" class="btn btn-success">Contact</button>
      </div>
    </div>
  </div>

    <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Andy" style="width:100%">
      <div class="container">
        <h2>Andy Cao</h2>
        <p class="title">Front End Dev</p>
        <p>Mostly handled the python functionality for the website</p>
        <button type="button" class="btn btn-success">Contact</button>
      </div>
    </div>
  </div>


</div>

{% endblock content %}
