{% extends "Layout.html"%}
{% block content %}
    {% for post in posts %} <!--- this is a for loop format --->
                <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    <!---edited by Andy--->
    <br><br>
    <div class="footer-dark">
        <footer>
             <div class="bscontainer">
                <div class="bsrow">
                    <div class="bscol-md-2 item">
                        <h3>Pages:</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Register</a></li>
                        </ul>
                    </div>
                    <div class="bscol-md-2 item">
                        <h3>Know More:</h3>
                        <ul>
                            <li><a href="#">Procedure to join</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="bscol-md-2 item">
                        <h3>Other Details:</h3>
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <!-- <li><a href="#">Careers</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock content %}

<!--- This is a comment --->