<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
      <!-- Change DarkTheme.css to main.css for the older version-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DarkTheme.css') }}">
      <!-- Change the URLs below to change the Webiste handle that appears in the internet tab -->
    {% if title %}
        <title>www.SecondHandGoodies.com - {{ title }}</title>
    {% else %}
        <title>www.SecondHandGoodies.com</title>
    {% endif %}
    {% if session['mode'] == 'dark' %}
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
    {% endif %}
    </style>
</head>
<body>
    <header class="site-header">
           <!-- Change success to light/dark/ or other: https://getbootstrap.com/docs/4.0/utilities/colors/
           on the line below to change the button back to black/white/other-->
      <nav class="navbar navbar-expand-md navbar-success bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Second Hand Goodies</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
<!--                 <input type="checkbox" id="cbx" style="display:none"/>
                <label for="cbx" class="toggle"><span></span></label> -->
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
                <a href="{{ url_for('set_background', mode='light') }}">Light Mode</a>
                <a href="{{ url_for('set_background', mode='dark') }}">Dark Mode</a>
                <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a>
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
              <!-- The words we type below will appear as the side bar for our site. -->
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
              <!-- Change dark to info on the line below to change the button back to blue X4-->
                <li class="list-group-item list-group-item-dark">Latest Posts</li>
                <li class="list-group-item list-group-item-dark">Announcements</li>
                <li class="list-group-item list-group-item-dark">Calendars</li>
                <li class="list-group-item list-group-item-dark">Archives</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
    var checkbox = document.querySelector('input[type="checkbox"]');

  checkbox.addEventListener('change', function () {
    if (checkbox.checked) {
       <a href="{{ url_for('set_background', mode='light') }}">Light Mode</a>

          } else {
              <a href="{{ url_for('set_background', mode='dark') }}">Dark Mode</a>
    }
  });
});</script>
</body>
</html>
