{% extends "layout.html" %}
{% block content %}
    <h1>Products</h1>
    <div class="card-container">
        <div class="cards">
            {%for i in range(20):%}
            <div class="card" style="width:14rem;">
                <div class="card-img"><img class="card-img-top rounded" src="{{data[i].image}}" alt="Card image cap"></div>
                <div class="card-body flex-column">
                    <h5 class="card-title">{{data[i].title}}</h5>
                    <p class="card-text">${{data[i].price}}</p>
                    <button type="button" class="btn btn-success">Buy Now</button>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>

{% endblock content %}
