{% extends "layout.html" %}
{% block content %}
    <h1>Spotify</h1>
    <div class="card-container">
        <div class="cards">
            {%for i in range(5):%}
            <div class="card" style="width:40rem;">
                <div class="card-body flex-column">
                    <h5 class="card-title">Author: <br> {{data[i].userID}}</h5>
                    <p class="card-text">Description: <br> ${{data[i].description}}</p>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>

{% endblock content %}
