{% extends "layout.html" %}
{% block content %}
    <h1>Spotify</h1>
    <div class="card-container">
        <div class="cards">
            {%for i in range(5):%}
            <div class="card" style="width:14rem;">
                <div class="card-body flex-column">
                    <h5 class="card-title">{{data[i].userID}}</h5>
                    <p class="card-text">${{data[i].description}}</p>
                    <button type="button" class="btn btn-success">Read More</button>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>

{% endblock content %}
